<h2>Sub Familias</h2>

<div id="divWrapper" ng-show="dataLoaded" style="display:none">
    <table id="tblSubFamilias" class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Division
                </th>
                <th>
                    Familia
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subFamilia in subFamilias">
                <th scope="row">
                    {{$index+1}}
                </th>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.Nombre}}</span>
                    <!--<input ng-show="!subFamilia.showEdit" type="text" ng-model="subFamilia.Nombre" class="form-control">-->
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.Descripcion}}</span>
                    <!--<input ng-show="!subFamilia.showEdit" type="text" ng-model="subFamilia.Descripcion" class="form-control">-->
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.DivisionName}}</span>
                    <!--<select ng-show="!subFamilia.showEdit" class="form-control" ng-model="ddlDivisiones"
                            ng-options="division.Nombre for division in divisiones track by division.Nombre" ng-change="changedValue(ddlDivisiones,subFamilia)">
                        <option value="">-- Selecciona una Division --</option>
                    </select>-->
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.FamiliaName}}</span>
                    <!--<select ng-show="!subFamilia.showEdit" class="form-control" ng-model="ddlFamilias"
                            ng-options="familia.Nombre for familia in familias track by familia.Nombre" ng-change="changedValue(ddlFamilias,subFamilia)">
                        <option value="">-- Selecciona una Familia --</option>
                    </select>-->
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit" ng-click="toggleEdit(subFamilia)" class="btn glyphicon glyphicon-pencil" title="Editar"></span>
                    <!--<span ng-show="subFamilia.showEdit" ng-click="openEditDialog(subFamilia)" class="btn glyphicon glyphicon-pencil" title="Editar"></span>-->
                    <span ng-show="subFamilia.showEdit" ng-click="deleteSubFamilia(subFamilia)" class="btn glyphicon glyphicon-trash" title="Borrar"></span>
                    <!--<span ng-show="!subFamilia.showEdit" ng-click="updateSubFamilia(subFamilia)" class="btn glyphicon glyphicon-floppy-disk" title="Guardar"></span>-->
                    <!--<span ng-show="!subFamilia.showEdit" ng-click="toggleEdit(subFamilia)" class="btn glyphicon glyphicon-remove" title="Cancelar"></span>-->
                </td>
            </tr>
            <!--<tr ng-show="showAdd">
                <th>
                    <span>#</span>
                </th>
                <td>
                    <input id="newName" ng-show="showAdd" type="text" ng-model="newNombre" class="form-control">
                </td>
                <td>
                    <input id="newDesc" ng-show="showAdd" type="text" ng-model="newDescripcion" class="form-control">
                </td>
                <td>
                    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="newIdDivision">
                        <option value="">---Selecciona una Division---</option>
                        <option ng-repeat="division in divisiones" value="{{division.IdDivision}}">{{division.Nombre}}</option>
                    </select><br>
                </td>
                <td>
                    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="newIdFamilia">
                        <option value="">---Selecciona una Familia---</option>
                        <option ng-repeat="familia in familias" value="{{familia.IdFamilia}}">{{familia.Nombre}}</option>
                    </select><br>
                </td>
                <td>
                    <span ng-show="showAdd" ng-click="addSubFamilia()" class="btn glyphicon glyphicon-floppy-disk" title="Guardar"></span>
                    <span ng-show="showAdd" ng-click="showNew()" class="btn glyphicon glyphicon-remove" title="Cancelar"></span>
                </td>
            </tr>-->
        </tbody>
    </table>
    <button ng-click="showNew()">Nueva Sub Familia</button>
</div>
<!--Loading indicator-->
<img src="Content/images/loading.gif" ng-show="dataLoading" class="center-block" title="Loading..." style="margin-top: 20px" />