<h2>Sub Familias</h2>

<div id="divWrapper" ng-show="dataLoaded" style="display:none">
    <table id="tblSubFamilias" class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Division
                </th>
                <th>
                    Familia
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subFamilia in subFamilias">
                <th scope="row">
                    {{$index+1}}
                </th>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.Nombre}}</span>
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.Descripcion}}</span>
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.DivisionName}}</span>
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit">{{subFamilia.FamiliaName}}</span>
                </td>
                <td>
                    <span ng-show="subFamilia.showEdit" ng-click="toggleEdit(subFamilia)" class="btn glyphicon glyphicon-pencil" title="Editar"></span>
                    <!--<span ng-show="subFamilia.showEdit" ng-click="openEditDialog(subFamilia)" class="btn glyphicon glyphicon-pencil" title="Editar"></span>-->
                    <span ng-show="subFamilia.showEdit" ng-click="deleteSubFamilia(subFamilia)" class="btn glyphicon glyphicon-trash" title="Borrar"></span>
                    <!--<span ng-show="!subFamilia.showEdit" ng-click="updateSubFamilia(subFamilia)" class="btn glyphicon glyphicon-floppy-disk" title="Guardar"></span>-->
                    <!--<span ng-show="!subFamilia.showEdit" ng-click="toggleEdit(subFamilia)" class="btn glyphicon glyphicon-remove" title="Cancelar"></span>-->
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-click="showNew()">Nueva Sub Familia</button>
</div>
<!--Loading indicator-->
<img src="Content/images/loading.gif" ng-show="dataLoading" class="center-block" title="Loading..." style="margin-top: 20px" />