<div class="jumbotron">
    <h1>Mantenimiento</h1>
    <p class="lead">Mantenimiento de tablas.</p>
    <p><a href="https://angular.io/" class="btn btn-primary btn-lg">No me des &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Prueba 1</h2>
        <p>Me gustan las pastillas, rojas, verdes y amarillas...</p>
        <p><a class="btn btn-default" href="https://www.google.es/search?q=pastillas&oq=pastillas&aqs=chrome..69i57j0l5.1260j0j7&sourceid=chrome&ie=UTF-8">VER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prueba 2</h2>
        <p>Piedra, papel, tijera, lagarto Spock</p>
        <p><a class="btn btn-default" href="https://www.google.es/#q=piedra+papel+tijera+lagarto+spock">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prueba 3</h2>
        <p>:D</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=UcRtFYAz2Yo&t">DANCE!!! &raquo;</a></p>
    </div>
</div>
